
    <link href="/css/signin.css" rel="stylesheet">

<body>    
<center>
        <h2> Welcome <%=current_user.name%></h2>
        <a href='/questions'><button type="submit">Profile Page</button></a>
        <br>
        <p><a href='/signout'><button type="submit">Sign Out</button></a></p>
     
                <div class="container">
                <form class="form-question" action="/question/new" method="post">
                <h4 class="form-signin-heading">Please write in your question in percise and detail manner.</h4>
                <br>
                <label for="inputQuestion" class="sr-only">Question</label>
                <input type="user" id="inputQuestion" name="question" class="form-control" placeholder="eg. I want to sue my neigbour dog for making my dog pregnant" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
                </div>
                <a href="/questions/answer"><h6> If you are awesome and highly intelligent, please press here and help other's species with your knowledge :-)</h6></a>
                <br>
                             <% if @submited %>
                             <%= @submited %>
                             <%end%>
                             <br><br><br>     
</center>
</body>
			       <table class="table"> 			
  				   <thead class="thead-inverse">
    			 	 <tr>
      			 <th>#</th>
      			 <th>Created_at</th>
      			 <th>Question</th>
      			 <th>Options</th>
    				 </tr>
  					 </thead>
  								      <% @questions.each do |question| %>
  								      <tbody>
    							      <tr>
      							    <th scope="row">1</th>
      							    <td><%= question.created_at %></td>
      							    <td><a href="/<%=quest_id(question)%>"><%= question.text %></a></td>
      							    <td><form action="/<%=quest_id(question)%>/destroy" method="post"><button class="btn btn-lg btn-primary btn-block" type="submit">Delete</button></form></td>
    							      </tr>
    							      </tr>
  								      </tbody>
  								      <%end%>           
			        </table>
   
         <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/workaround.js"></script>
</html>